@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
	color: rgb(1, 8, 214);
}

a,
button
{
	font-weight: 300;
	font-size: 0.5rem;
	text-decoration: none;
	background: linear-gradient;
	background-position: 100% 2px;
	background-repeat: no-repeat;
	transition: 1s;
}

h1,h2,h3{
	font-size: 0.8rem;
		  	
}

.bg-black{
	background-color: black;
}

.img-sm{
	height: 25px;
}

#hover :hover{
	color: #2CB349;
	cursor: pointer;
	font-weight: 800;
}

.toggler-colour{
	border: 2px solid #2CB349;
}

table{
	width: 100%;
	text-align: center;
	margin: 20px auto;
}
thead{
	background-color: black;
}

th , td{
	padding: 0;
	border: solid 4px black;
}

tr:hover{
	background-color: #2CB349;;
}


.card_sobre_mi{
	width: auto; 
	height: auto;
	margin: 20px 8px; 
	border: solid 4px black; 
	padding: 10px 6px;  
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.card_title{
	text-align: center;
}

.card_image{
	padding: 10px;
 	display:block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.form{
	margin: 20px auto;
	width: 80%;
	padding: 10px;
	border: 4px solid black;
	border-radius: 4px;
	margin-bottom: 8px;
}

label{
	font-size: 12px;
	margin: 0 4px;
}
input , textarea{
	margin-bottom: 16px;
	width: 80%;
	padding: 8px;
	}

input:focus , textarea:focus{
border: 4px	solid #2CB349;
}

.main{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 8px;
	justify-content: center;
	align-items: center;
}

.mainPresentation{
	width: auto;
	display: flex;
	flex-direction: column;  
	margin: 20px 4px;
	border: solid 4px black; 
	padding: 10px 6px;  
	height: auto;
	justify-content: center;
	align-items: center;
}

.mainPresentation h2, h3, h4{
	padding: 8px 4px;
	text-align: center;
	
}

.mainPresentation p{
	padding: 8px 4px;
	text-align: center;
}

h3{
	padding: 8px 4px;
	text-align: center;

}
.mainPresentation ul{
	list-style: none;
}

.mainVideo{
	width: auto; 
	margin-top: 10px;
	padding: 4px 2px;
}

.image_centrado{
 	height: 120px;
	display:block;
  	margin-left: auto;
  	margin-right: auto;
}

.inputRadio{
	width: 25%;

}





.container__me{
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:"nav" "about_me" "footer" ;
}

#nav{
	grid-area: nav;
}

#main__header{
	
}

#card__me{
	grid-area: about_me;
}

#footer{
	grid-area: footer;
}





@media (min-width: 768px){
	
	li,a,button{
	font-size: 0.7rem;
	text-decoration: none;
	}
	
	h1,h2,h3{
	font-size: 1rem;}

	.headerLogo{
	height: 50px;}

	.footerSocial img{
	height: 35px;
	padding: 0 10px;}

	.imageCentrado{
 	height: 140px;
	display:block;
  	margin-left: auto;
  	margin-right: auto;}

}

@media (min-width: 1024px){

	li,a,button{
	font-size: 0.8rem;
	text-decoration: none;
	}
	
	h1,h2,h3{
	font-size: 1.1rem;}

	.headerLogo{
	height: 60px;}

	.footerSocial img{
	height: 40px;
	padding: 0 10px;}
	
	.headerDiv{
	width: 100%;
	background-color: black;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 12px;
	margin-bottom: 4px;}

	.image_centrado{
 	height: 150px;
	display:block;
  	margin-left: auto;
  	margin-right: auto;}

   	.card_sobre_mi{
	width: 50%; 
	height: auto;
	display: flex;
	margin: 20px auto; 
	border: solid 4px black; 
	padding: 6px 2px;  
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	align-items: center;
}
	.card_title{
	text-align: center;
}

	.card_image{
	padding: 4px;
	display:block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 140px;
}


}


@media (min-width: 1200px){
	li,a,button{
	font-size: 0.9rem;
	text-decoration: none;
	}
	
	h1,h2,h3{
	font-size: 1.2rem;}

	.headerLogo{
	height: 75px;}

	.footerSocial img{
	height: 50px;
	padding: 0 10px;}

	.main{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 8px;
	justify-content: center;
	align-items: center;}

	.mainPresentation{
	width: auto;
	margin: 20px 4px;
	border: solid 4px black; 
	padding: 10px 6px;  
	height: auto;
	justify-content: center;
	align-items: center;}

	.headerDiv{
	width: 100%;
	background-color: black;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 12px;
	margin-bottom: 8px;}

	.image_centrado{
 	height: 160px;
	display:block;
  	margin-left: auto;
  	margin-right: auto;}

  

}
