ul{
	list-style: none;
	
	li{
		padding: 2px;

		a{
			font-weight: 300;
			font-size: $textSm;
			text-decoration: none;
			background: linear-gradient;
			background-position: 100% 2px;
			background-repeat: no-repeat;
			transition: 1s;
			&:hover{
				color: $secondaryColor;
				cursor: pointer;
				font-weight: 800;
 				}

		}
	}
}

 
.toggler-colour{
	border: 2px solid $secondaryColor;
}

.bg-black{
	background-color: $keyColor;
}
