table{
	width: 100%;
	text-align: center;
	margin: 20px auto;
	}



thead{
	background-color: $keyColor;
}

th , td{
	padding: 0;
	border: solid 4px $keyColor;
}

tr{
	&:hover{
	background-color: $secondaryColor;
	}
}